<header>
    <nav class="navbar">
        <div class="container-lg nav-wrapper">
            <div class="nav-left">
                <div class="nav-logo">
                    <a href="/">
                    Quora
                </a>
                </div>
            </div>
            <div class="nav-center">
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="/question/all"><i class="fa-solid fa-list"></i></a></li>
                    <li><a href="/question/my-questions"><i class="fa-regular fa-pen-to-square"></i></a></li>
                    <li><a href="#"><i class="fa-regular fa-bell"></i></a></li>
                    <!-- <li><a href="#">One</a></li> -->
                </ul>
                <form action="/question/search" class="w-50 search-form" method="POST">
                    <input type="text" name="search" class="form-custom w-100" placeholder="Search Here...">
                    <button type="submit" class="btn-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="nav-right">
                <div class="dropdown">
                    <img src="<%= (locals.user.avatar)? locals.user.avatar :'/images/user.jpg' %>" height="50px" width="50px" class="rounded-circle" role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Hii, <%= locals.user.name  %></a></li>
                    <li><a class="dropdown-item" href="/user/profile"><i class="fa-regular fa-user"></i> Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/user/logout"><i class="fa-solid fa-power-off"></i> Log Out</a></li>
                  </ul>
                </div>
                <div class="button-group">
                    <button class="theme-btn rounded-pill ms-3 addTopic" data-bs-toggle="modal" data-bs-target="#addQuestion">Add Question</button>
                </div>
            </div>
        </div>
    </nav>
</header>