<main>
    <div class="container main-page">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-7">

                <div class="question-card">
                    <div class="question-card-header">
                        <div class="user-image">
                            <img src="./images/user.jpg" class="rounded" height="50px" width="50px">
                        </div>
                        <div class="user-details ms-2">
                            <div class="user-title">
                                <h5>Username</h5>
                                <a href="#">Follow</a>
                            </div>
                            <div class="user-credential">
                                <p>Full Stack Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="question-card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quibusdam fuga labore
                            facere asperiores quos quas recusandae corrupti. Voluptatibus inventore eum libero
                            numquam!?</p>
                    </div>
                    <div class="question-card-footer">
                        <div class="footer-options">
                            <div class="vote">
                                <div class="upvote">
                                    <i class="fa-solid fa-caret-up"></i>
                                </div>
                                <div class="vote-center">
                                    Upvote-34
                                </div>
                                <div class="downvote">
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                            </div>

                            <div class="comments ms-3">
                                5 <i class="fa-regular fa-comment"></i>
                            </div>
                            <div class="answers ms-3">
                                5 <i class="fa-solid fa-reply"></i>
                            </div>
                        </div>
                        <a href="#" class="theme-link">Read More..</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</main>