<main>
    <div class="container question-page">
        <div class="row">
            <div class="col-md-12">
                <div class="question-page-heading">
                    <i class="fa-solid fa-star"></i> <h2>Questions You Asked</h2>
                </div>
                <% if(questions.length == 0){ %>
                    <h2>No Question Found!</h2>    
                <% } %>

                <% for(let i of questions){ %>
                <div class="question-details-card">
                    <a href="/question/view/<%= i._id %>">
                        <h2><%= i.content %></h2>
                    </a>
                    <div class="question-info">
                        <span>
                            <% if(i.answers.length > 0){ %>
                                
                                <%= i.answers.length %> Answers
                            <% }else{ %>
                                  No Answers Yet                                                  
                                
                            <% } %>

                        </span>
                        <span><%= moment(i.createdAt).fromNow() %></span>
                    </div>
                    
                </div>
                <% } %>
               
                

            </div>
           
        </div>
    </div>
</main>



//  <!-- for answer the question -->
 <div class="modal fade" id="answer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
 aria-labelledby="staticBackdropLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
         <div class="modal-header">
             <h1 class="modal-title fs-5" id="staticBackdropLabel">Answer</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal"
                 aria-label="Close"></button>
         </div>
         <form action="/question/answer" method="POST">
             <div class="modal-body">
                 <div class="form-group">
                     <label for="about">Write Your Answer.</label>
                     <input type="hidden" id="question_id" name="question"
                         value="">
                     <textarea id="about" rows="10" resize="no-resize" name="answer"
                         class="form-custom w-100" placeholder="Write Your Answer..."></textarea>
                 </div>

             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-secondary"
                     data-bs-dismiss="modal">Close</button>
                 <button type="submit" class="theme-btn">Publish</button>
             </div>
         </form>
     </div>
 </div>
</div>