<main>
    <div class="container-lg profile-box">
        <div class="row">
           <div class="col-md-12">
                <div class="wrapper">
                    <div class="section section-left">
                        <div class="chat-users-header">
                            <h3>Chats</h3>
                        </div>
                        <div class="chat-user-list">
                            <div class="chat-user-item">
                                <div class="user-image">
                                    <img src="/images/user.jpg" height="50px" width="50px" class="rounded-circle">
                                </div>
                                <div class="user-name">
                                    User Name
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section section-right">
                        <div class="chat-users-header chat-header">
                            <h3>Chats</h3>
                        </div>
                        <div class="chat-section">
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>

                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                            <div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div><div class="msg left"><span>Message</span></div>
                            <div class="msg right"><span>Message</span></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
</main>