<div>
    <p>Hi!, <%= user.name %></p>
    <br>
    <br>
    <p>Welcome To Quora.</p>
    <p>To reset your password. Click on Link given below</p>
    <a href="http://localhost:8000/user/reset/password/<%= token.token %>">Reset Password</a>
    <br>
    <br>
    <p>Thanks!</p>
    <p>Regards,</p>
    <p>Team Quora</p>
</div>