<div>
    <p>Hi!, <%= user.name %></p>
    <br>
    <br>
    <p>Welcome To Quora.</p>
    <p>Please Verify Your Email Address To Activate Your Account.</p>
    <a href="http://localhost:8000/user/verify/<%= token.token %>">Verify Email</a>
    <br>
    <br>
    <p>Thanks!</p>
    <p>Regards,</p>
    <p>Team Quora</p>
</div>